/*!
Theme Name: Griffith
Theme URI: 
Author: Griffith
Author URI: http://www.greencomputingnepal.com/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: 
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
	--------------------------------------------------------------*/
html {
  font-size: 16px;
}

.common-nav, .common-nav li ul, .common-nav li ol, #footer .container ul, #footer .container ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

body #top-nav, .bottom-header > .container, .top-header > .container {
  display: -webkit-box;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
}

@media only screen and (max-width: 1024px) {
  body #top-nav, .bottom-header > .container, .top-header > .container {
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -ms-flex-pack: space-between;
  }
}

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: Questrial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
}

h2 {
  font: 500 36px/41px Questrial, sans-serif;
  color: #000;
}

h3 {
  font: 500 18px/34px Questrial, sans-serif;
}

h4 {
  font: 500 16px/24px Questrial, sans-serif;
  color: #000;
}

p {
  margin-bottom: 1.5em;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
  quotes: "" "";
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul, ol, ol {
  margin: 0 0 1.5em 3em;
}

ul, ol {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul, li > ol,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(0, 81, 138, 0.5), inset 0 15px 17px rgba(0, 81, 138, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(0, 81, 138, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
  box-shadow: inset 0 1px 0 rgba(0, 81, 138, 0.8), inset 0 15px 17px rgba(0, 81, 138, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(0, 81, 138, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

.btn-2 {
  letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(0, 81, 138, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-color: #00518A;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.btn-3 {
  background: #ff0303;
  border: 1px solid #df0000;
  box-shadow: 0px 2px 0 #da0000, 2px 4px 6px #e90000;
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 150ms linear;
}

.btn-3:hover {
  background: #eb0000;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px rgba(0, 81, 138, 0.2);
  color: #ff5050;
  text-decoration: none;
  text-shadow: -1px -1px 0 #c30000;
  transition: all 250ms linear;
}

.btn-4 {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}

.btn-4 span {
  z-index: 20;
}

.btn-4:after {
  background: #00518A;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.btn-4:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5 {
  border: 1px solid transparent;
  outline: 0px solid;
  background: #162564;
  color: #fff !important;
  border-radius: 0px;
  outline-color: rgba(0, 81, 138, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5:hover {
  border: 1px solid #00518a;
  outline: 1px solid;
  outline-color: rgba(0, 81, 138, 0);
  outline-offset: 15px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
  padding: 3px;
}

textarea {
  padding-left: 3px;
  width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: royalblue;
}

a:visited {
  color: purple;
}

a:hover, a:focus, a:active {
  color: midnightblue;
}

a:hover, a:active {
  outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
body #top-nav {
  text-align: right;
  -moz-justify-content: flex-end !important;
  -ms-justify-content: flex-end !important;
  -webkit-box-pack: end !important;
  justify-content: flex-end !important;
  -ms-flex-pack: flex-end !important;
}

body #top-nav .common-nav ul, body #top-nav .common-nav ol {
  right: 0;
  left: auto;
}

.common-nav {
  text-align: left;
  margin-top: 10px;
  display: inline-block;
}

.common-nav li {
  position: relative;
}

.common-nav li a {
  color: #e9ebee;
  font-size: 14px;
  font-size: 0.875rem;
}

.common-nav li a:hover {
  text-decoration: none;
}

.common-nav li:hover > ul, .common-nav li:hover > ol {
  display: block;
}

.common-nav li ul, .common-nav li ol {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 150px;
  padding-top: 15px;
  background: none;
  z-index: 999;
}

.common-nav li ul li a, .common-nav li ol li a {
  display: block;
  padding: 5px 10px;
  color: #00518A;
  background: #00518A;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 400ms ease;
}

.common-nav li ul li a:hover, .common-nav li ol li a:hover {
  background: #00518A;
  color: #fff;
}

.common-nav li ul li:first-child a, .common-nav li ol li:first-child a {
  border: none;
}

.common-nav > li {
  float: left;
  margin: 0px 8px 0px 8px;
  margin: 0rem 0.5rem 0rem 0.5rem;
}

.common-nav > li a {
  padding-bottom: 7px;
}

.common-nav.main-nav {
  margin-left: 15%;
  background-color: #162564;
  border-right: 5px solid #09b2ea;
}

.common-nav.main-nav > li {
  margin: 0;
}

.common-nav.main-nav > li > a {
  padding: 5px 28px 5px 28px;
  padding: 0.3125rem 1.75rem 0.3125rem 1.75rem;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 959px) {
  .common-nav.main-nav > li > a {
    margin: 0px 25px 0px 25px;
    margin: 0rem 1.5625rem 0rem 1.5625rem;
  }
}

.common-nav.main-nav > li > a:hover {
  background: #09b2ea;
}

.common-nav.main-nav > li:first-child > a {
  border-left: none;
}

.common-nav.main-nav > li a {
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  color: #e9ebee;
  font-size: 18px;
  font-size: 1.125rem;
}

.common-nav.main-nav ul, .common-nav.main-nav ol {
  min-width: 200px;
}

.common-nav.main-nav ul li a, .common-nav.main-nav ol li a {
  font-size: 16px;
  font-size: 1rem;
  transition: all 400ms ease;
}

.common-nav.main-nav ul li a:hover, .common-nav.main-nav ol li a:hover {
  background: #162564;
}

.bottom-header #primary-nav, .top-header #primary-nav {
  text-align: right;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
}

.alignright {
  display: inline;
  float: right;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */
}

.widget select {
  max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

a:visited {
  color: #00518A;
}

* {
  -webkit-font-smoothing: antialiased;
}

ul, ol {
  margin: 0;
}

ul[class*='-lists'], ol[class*='-lists'] {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.margin-none {
  margin: 0;
}

@media only screen and (max-width: 1199px) {
  .container {
    width: 100%;
  }
}

a {
  transition: all 0.42s ease-in-out;
  display: inline-block;
}

.box-shadows {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.29);
}

.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font: 400 18px/30px 'Roboto';
  color: #D89019;
  text-transform: capitalize;
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  font: 400 18px/30px 'Roboto';
  color: #D89019;
  text-transform: capitalize;
}

.form-control:-ms-input-placeholder {
  /* IE 10+ */
  font: 400 18px/30px 'Roboto';
  color: #D89019;
  text-transform: capitalize;
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  font: 400 18px/30px 'Roboto';
  color: #D89019;
  text-transform: capitalize;
}

@media only screen and (min-width: 767px) {
  .row .table-cells {
    display: table-cell;
    float: none;
    vertical-align: top;
  }
}

@media only screen and (min-width: 767px) {
  .row .table-rows {
    display: table-row;
  }
}

@media only screen and (min-width: 767px) {
  .row.tables {
    display: table;
    margin: 0;
    min-width: 100%;
  }
}

p {
  font-family: Questrial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.375rem;
  color: #4A4A4A;
}

.padding-none {
  padding: 0;
}

.top-header {
  background: #162564;
  padding: 5px 0;
}

@media only screen and (max-width: 1024px) {
  #logo {
    padding: 0;
  }
}

@media only screen and (max-width: 660px) {
  #logo {
    width: 40%;
  }
}

.social a {
  vertical-align: middle;
}

.social a i {
  display: inline-block;
  padding: 6px 8px;
  color: #fff;
  background: #09b2ea;
  border-radius: 13px;
  margin: 8px 2px;
  text-shadow: 4px 3px 10px #162564;
  text-align: center;
  font-size: 15px;
  transition: all 400ms ease;
}

.social a:hover i {
  background: #162564;
  border-color: #fff;
}

.btn-theme {
  outline: #1398cc solid 1px;
  outline-offset: -2px;
  transition: all 1.25s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-theme:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(19, 152, 204, 0);
  outline-offset: 15px;
}

.ad {
  margin-bottom: 20px;
}

/*Main Content*/
form .form-group {
  position: relative;
}

form .form-group .text-danger {
  color: #ff0000;
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 5px;
  font-size: 14px;
}

.form-section {
  background: #128cb5;
  padding: 40px 0;
}

.form-section form {
  padding: 20px;
  background: rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 767px) {
  .form-section form {
    margin-bottom: 20px;
  }
}

.form-section form .form-title {
  margin-top: 0;
  color: #fff;
  font-size: 22px;
  font-size: 1.375rem;
}

.form-section form label {
  color: #fff;
}

body {
  background-color: #e9ebee;
}

@media only screen and (max-width: 480px) {
  .col-xs-6 {
    width: 100%;
  }
}

section.intro-sec {
  padding: 15px 0 0 0;
  position: relative;
}

section.intro-sec p {
  margin: 0 0 10px;
}

section.intro-sec header {
  font-size: 25px;
  font-size: 1.5625rem;
}

section.intro-sec header h3 {
  display: inline-block;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 20px;
  font-size: 1.25rem;
}

section.intro-sec div.intro-sec {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  padding: 15px;
}

section.intro-sec div.intro-sec p {
  color: #fff;
}

figure {
  margin: 0;
}

h2 {
  margin: 30px 0px 30px 0px;
  margin: 1.875rem 0rem 1.875rem 0rem;
  display: inline-block;
  padding: 11px 0;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #000;
}

body .owl-theme .owl-dots .owl-dot span {
  border-radius: 0;
  background: #09b2ea;
}

body .owl-theme .owl-dots .owl-dot.active span {
  background: #162564;
}

body .owl-theme .owl-dots .owl-dot:hover span {
  background: #162564;
}

#content > section {
  padding: 35px 0;
}

#content > section h2 {
  margin-top: 0;
  text-transform: capitalize;
}

#content > section.banner-section {
  padding: 0;
}

#content > section.banner-section figure {
  height: 400px;
}

section.figure-desc {
  background: #00518A;
}

section.figure-desc p {
  color: #fff;
}

section.figure-desc h2 {
  color: #fff;
  border-color: #fff;
}

section.work-intro-section h2 {
  margin-bottom: 0;
}

section#home-feature .animated-holder {
  height: 650px;
  position: relative;
}

section#home-feature .animated-holder * {
  transition: all 0.8s ease-in-out;
}

section#home-feature .center-logo {
  position: absolute;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

section#home-feature .feature {
  text-align: center;
  box-shadow: 0 3px 8px -1px #eee;
  position: absolute;
  max-width: 270px;
  border: 1px solid #78B231;
}

section#home-feature .feature .pop-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

section#home-feature .feature .pop-btn:focus {
  outline: none;
  border: none;
}

section#home-feature .feature .icon {
  display: inline-block;
  width: 50px;
  height: 50px;
}

section#home-feature .feature.first, section#home-feature .feature.second, section#home-feature .feature.fourth, section#home-feature .feature.sixth, section#home-feature .feature.eight {
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

section#home-feature .feature.third, section#home-feature .feature.fifth, section#home-feature .feature.seventh {
  top: 50%;
  right: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

section#home-feature .feature h3 {
  margin: 0 0 5px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: bold;
}

section#home-feature .feature p {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 14px;
  line-height: 0.875rem;
}

section#home-feature:hover .feature.first,
section#home-feature:hover .feature.eight {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  opacity: 1;
  top: 0;
}

section#home-feature:hover .feature.eight {
  top: 80%;
}

section#home-feature:hover .feature.second,
section#home-feature:hover .feature.third,
section#home-feature:hover .feature.fourth,
section#home-feature:hover .feature.fifth,
section#home-feature:hover .feature.sixth,
section#home-feature:hover .feature.seventh {
  -webkit-transform: none;
  transform: none;
}

section#home-feature:hover .feature.second {
  top: 15%;
  left: 15%;
  opacity: 1;
}

section#home-feature:hover .feature.third {
  top: 15%;
  right: 15%;
  opacity: 1;
}

section#home-feature:hover .feature.fourth {
  top: 40%;
  left: 10%;
  opacity: 1;
}

section#home-feature:hover .feature.fifth {
  top: 40%;
  right: 10%;
  opacity: 1;
}

section#home-feature:hover .feature.sixth {
  top: 65%;
  left: 15%;
  opacity: 1;
}

section#home-feature:hover .feature.seventh {
  top: 65%;
  right: 15%;
  opacity: 1;
}

section#home-feature > .animated-container .feature::before {
  content: none;
}

section#home-feature > .animated-container .feature::after {
  content: none;
}

#isotope h2 {
  color: #fff;
  border-color: #fff;
}

#isotope p {
  color: #fff;
}

#isotope .isotope-item section {
  position: relative;
  overflow: hidden;
  box-shadow: 3px 0 8px -1px #000;
}

#isotope .isotope-item section p {
  color: #4A4A4A;
}

#isotope .isotope-item section h3 {
  font-size: 22px;
  font-size: 1.375rem;
}

#isotope .isotope-item section .hover-part {
  position: absolute;
  text-align: center;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #07a307;
  transition: all 900ms ease;
}

#isotope .isotope-item section .hover-part .txt-holder {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#isotope .isotope-item section .hover-part .txt-holder span {
  display: block;
  color: #fff;
  margin-bottom: 10px;
}

#isotope .isotope-item section .hover-part .txt-holder span .btn {
  text-transform: uppercase;
}

#isotope .isotope-item section .hover-part .txt-holder span .btn.btn-more {
  color: #fff;
  border: 1px solid #fff;
  margin-top: 10px;
}

#isotope .isotope-item section .hover-part .txt-holder span .btn.btn-more:hover {
  background: #00518A;
  border-color: #00518A;
  color: #fff;
}

#isotope .isotope-item section:hover .hover-part {
  opacity: 1;
  top: 0;
}

#isotope .feature-logo img {
  display: inline-block;
}

.home-testimonial {
  padding-top: 160px;
  padding-top: 10rem;
  background: #00518A;
  position: relative;
}

.home-testimonial::after {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home-testimonial > .container {
  position: relative;
  z-index: 999;
}

.home-testimonial h2 {
  text-align: center;
  border-color: #fff;
  color: #fff;
}

.home-testimonial #testimonial-slider {
  z-index: 9999;
}

.home-testimonial #testimonial-slider .item {
  margin: 0px 30px 30px 0px;
  margin: 0rem 1.875rem 1.875rem 0rem;
}

.home-testimonial #testimonial-slider .item .content {
  padding: 40px 30px;
  padding: 2.5rem 1.875rem;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  position: relative;
}

.home-testimonial #testimonial-slider .item .content p {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 22px;
  line-height: 1.375rem;
  font-family: Questrial, sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #4A4A4A;
  margin-bottom: 0;
}

.home-testimonial #testimonial-slider .item .content .customer {
  position: absolute;
  top: 100%;
  margin-top: 15px;
  margin-top: 0.9375rem;
  left: 20%;
}

.home-testimonial #testimonial-slider .item .content .customer span {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 22px;
  line-height: 1.375rem;
  font-family: Questrial, sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
}

.home-testimonial #testimonial-slider .item .content .customer span.name::after {
  content: ",";
  padding-right: 5px;
}

.home-testimonial #testimonial-slider .item .content .customer span.country {
  font-weight: 300;
}

.home-testimonial #testimonial-slider .item .content::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0px 40px 30px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  bottom: -40px;
  left: 13%;
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
  box-shadow: 4px 0 0 0 rgba(0, 0, 0, 0.2);
}

.home-testimonial #testimonial-slider .owl-wrapper-outer {
  padding: 20px;
}

/*Footer Styles*/
#footer .top-footer {
  padding: 30px 0;
  background: #00518A;
}

#footer .bottom-footer {
  background: #fff;
  padding: 25px 0;
  text-align: center;
}

#footer .bottom-footer .credit img {
  width: 120px;
  vertical-align: middle;
  margin-left: 10px;
}

#footer .container ul li, #footer .container ol li {
  display: inline-block;
  vertical-align: top;
}

#footer .container ul li a, #footer .container ol li a {
  display: block;
  color: #fff;
  padding-left: 15px;
  position: relative;
}

#footer .container ul li a::before, #footer .container ol li a::before {
  content: '';
  position: absolute;
  border: 5px solid transparent;
  border-left: 5px solid #fff;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#footer .container ul li .menu-title, #footer .container ol li .menu-title {
  display: block;
  text-transform: capitalize;
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 15px;
  margin-bottom: 0.9375rem;
}

.slicknav_menu {
  display: none;
  background: transparent;
}

@media screen and (max-width: 1024px) {
  .js .main-nav,
  .js #top-nav .common-nav {
    display: none;
  }
  .js #top-nav .slicknav_menu .slicknav_btn {
    background: #00518A;
  }
  .js .slicknav_menu {
    display: block;
    margin: 0;
  }
  .js .slicknav_menu .slicknav_btn {
    margin: 0;
    background: #07a307;
    border-radius: 0;
    padding: 5px;
  }
  .js .slicknav_menu .slicknav_nav {
    position: absolute;
    z-index: 999;
    right: 0;
    width: 300px;
    top: 100%;
    background: transparent;
    padding: 0;
    box-shadow: 0 0 8px 1px #666;
    margin-top: 20px;
    margin-top: 1.25rem;
  }
  .js .slicknav_menu .slicknav_nav ul, .js .slicknav_menu .slicknav_nav ol {
    margin-left: 0;
    padding-left: 10px;
    background: #fff;
  }
}

@media only screen and (max-width: 1024px) and (max-width: 480px) {
  .js .slicknav_menu .slicknav_nav {
    width: 250px;
  }
}

@media screen and (max-width: 1024px) {
  .js .slicknav_menu li > a {
    background: #fff;
    text-align: left;
  }
  .js .slicknav_menu li.slicknav_open > a:first-child {
    color: #fff;
    background: #07a307;
  }
  .js .slicknav_menu li.slicknav_open > a:first-child a {
    color: #fff;
  }
  .js .slicknav_menu li > a:hover > a {
    color: #fff;
  }
  .js .slicknav_menu li a {
    margin: 0;
    color: #07a307;
    border-radius: 0;
  }
  .js .slicknav_menu li a:hover {
    background: #07a307;
    text-decoration: none;
    color: #fff;
  }
  .js .slicknav_menu li a:active {
    text-decoration: none;
  }
  .js .slicknav_menu li a:visited {
    text-decoration: none;
  }
  .js .slicknav_menu li a:focus {
    text-decoration: none;
  }
}

.std-title {
  font-size: 25px;
  font-size: 1.5625rem;
  text-transform: capitalize;
  margin: 15px 0;
  display: block;
  padding: 10px;
  background: #00518A;
  color: #fff;
}

/*Select Dropdown CSS*/
.common-form .select2-container .select2-selection--single {
  height: 34px;
}

.common-form .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
}

.common-form .select2-container .select2-selection--single .select2-selection__arrow {
  height: 32px;
}

.common-form h3 {
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  font-size: 1.0625rem;
  margin: 0 0 5px;
}

.common-form h3.form-title {
  font-size: 25px;
  font-size: 1.5625rem;
  margin-bottom: 20px;
}

.common-form label {
  font-size: 17px;
  font-size: 1.0625rem;
}

@media only screen and (min-width: 767px) {
  .common-form.eq-half-form .form-group-wrapper > .form-group {
    width: 49%;
    float: left;
    margin: 0 1% 25px;
  }
  .common-form.eq-half-form .form-group-wrapper > .form-group:nth-child(odd) {
    margin-left: 0;
    clear: left;
  }
  .common-form.eq-half-form .form-group-wrapper > .form-group:nth-child(even) {
    margin-right: 0;
    clear: right;
  }
}

.common-form.eq-half-form .btn-5 {
  min-width: 100px;
}

.control-group .control {
  font-size: 15px;
  font-size: 0.9375rem;
  position: relative;
  display: inline-block;
  margin-left: 15px;
  padding-left: 25px;
  margin-bottom: 0;
  cursor: pointer;
}

.control-group .control:nth-of-type(1) {
  margin-left: 0;
}

.control-group .control:hover input:not([disabled]):checked ~ .control__indicator {
  background: #0e647d;
}

.control-group .control.control--checkbox .control__indicator::after {
  top: 3px;
  left: 6px;
  width: 3px;
  height: 8px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: solid #fff;
  border-width: 0 2px 2px 0;
}

.control-group .control.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

.control-group .control.control--radio .control__indicator:after {
  top: 4px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

.control-group .control.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}

.control-group .control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control-group .control input:focus ~ .control__indicator {
  background: #eee;
}

.control-group .control input:checked ~ .control__indicator {
  background: #2aa1c0;
}

.control-group .control input:checked ~ .control__indicator::after {
  display: block;
}

.control-group .control input:checked:focus ~ .control__indicator {
  background: #0e647d;
}

.control-group .control input:disabled ~ .control__indicator {
  pointer-events: none;
  opacity: .6;
  background: #e6e6e6;
}

.control-group .control .control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  width: 15px;
  height: 15px;
  background: #e6e6e6;
}

.control-group .control .control__indicator::after {
  content: '';
  position: absolute;
  display: none;
}

.control-group .control:hover input ~ .control__indicator {
  background: #eee;
}

.control-group .control.control--radio .control__indicator {
  border-radius: 50%;
}

.control-group .form-group {
  margin: 0;
}

.btn-circle {
  border-radius: 50%;
}

.btn.btn-input {
  color: #fff;
  text-transform: uppercase;
}

.btn.btn-2:hover::before {
  border-color: #09b2ea;
}

.btn.btn-2:hover::after {
  border-color: #09b2ea;
}

#isotopes-container .isotope-item {
  width: 48%;
}

.work-intro-section .container {
  text-align: center;
}

.work-intro-section .container > div {
  float: none;
  display: inline-block;
}

.home-testimonial .owl-stage-outer {
  padding-bottom: 20px;
}

.small-field-group .control {
  font-size: 16px;
  width: 30%;
  margin-right: 2%;
  margin-bottom: 3%;
}

body .modal.in .modal-dialog {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
}

body .modal.in .modal-dialog .modal-header {
  background: #206496;
  border: none;
}

body .modal.in .modal-dialog .modal-title {
  line-height: 1.2;
  font-size: 25px;
  width: 90%;
  color: #fff;
}

body .modal.in .modal-dialog .close {
  box-shadow: none;
  opacity: 1;
  font-size: 45px;
  position: absolute;
  right: 20px;
  top: 10px;
  color: #fff;
}

@media (min-width: 992px) {
  body .modal-lg {
    width: 600px;
  }
}

/*# sourceMappingURL=style.css.map */
