
/*           Font Smoothing      */
body,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p,
.navbar,
.brand,
.btn-simple,
.alert,
a,
.td-name,
td,
button.close {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Raleway","Helvetica Neue",Arial,sans-serif;
  font-weight: 400;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: 300;
  margin: 30px 0 15px;
}

h1, .h1 {
  font-size: 52px;
}

h2, .h2 {
  font-size: 36px;
}

h3, .h3 {
  font-size: 28px;
  margin: 20px 0 10px;
}

h4, .h4 {
  font-size: 22px;
  line-height: 30px;
}

h5, .h5 {
  font-size: 16px;
  margin-bottom: 15px;
}

h6, .h6 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
  color: #9A9A9A;
  font-weight: 300;
  line-height: 1.5;
}

h1 small, h2 small, h3 small, h1 .small, h2 .small, h3 .small {
  font-size: 60%;
}

h1 .subtitle {
  display: block;
  margin: 0 0 30px;
}

.text-muted {
  color: #9A9A9A;
}

.text-primary, .text-primary:hover {
  color: #1D62F0 !important;
}

.text-info, .text-info:hover {
  color: #1DC7EA !important;
}

.text-success, .text-success:hover {
  color: #87CB16 !important;
}

.text-warning, .text-warning:hover {
  color: #FF9500 !important;
}

.text-danger, .text-danger:hover {
  color: #FF4A55 !important;
}

/*     General overwrite     */
body,
.wrapper {
  min-height: 100vh;
  position: relative;
}

a {
  color: #b1b2b3;
}

a:hover,
a:focus{
  color: #87CB16;
}

.copyright a{
  color: #87CB16;
}

.nav a:hover, .nav a:focus {
  color: rgba(255,255,255,0.6);
  text-decoration: none;
}

.nav a span {
    padding-left: 5px;
}

.nav a i{
    font-size: 18px;
    vertical-align: text-bottom;
}

#logout a:hover,
#logout a:focus{
  color: #000;
}

a:focus, a:active,
button::-moz-focus-inner,
input::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: 0;
}

.ui-slider-handle:focus,
.navbar-toggle,
input:focus {
  outline: 0 !important;
}

/*           Animations              */
.form-control,
.input-group-addon,
.tagsinput,
.navbar,
.navbar .alert {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}

.navbar-right li a{
    color: #000;
}

.sidebar .nav a,
.table > tbody > tr .td-actions .btn {
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  -ms-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

.sidebar .nav a{
    position: relative;
}

.sidebar .nav > li > a{
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.sidebar .nav ul li a{
    display: block;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.1);
    text-transform: capitalize;
}

.sidebar .nav a.non-collapsed::after,
.sidebar .nav a.collapsed::after{
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    right: 10px;
    border: 5px solid transparent;
    border-bottom: 10px solid #b1b2b3;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sidebar .nav a.collapsed::after{
    border-bottom: 5px solid transparent;
    border-top: 10px solid #b1b2b3;
}

.sidebar .nav a.non-collapsed::after{
     margin-top: -5px;
}

.sidebar .nav ul li:first-child a{
    border: none;
}

.sidebar .nav ul{
    padding-left: 15px;
}

.sidebar .nav li a:focus, 
.sidebar .nav li a:hover {
    text-decoration: none;
    background-color: #111;
}

.btn {
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.fa {
  width: 18px;
  text-align: center;
}

.margin-top {
  margin-top: 50px;
}

.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}

.sidebar{
  left:0;
  height: 100%;
  width: 240px;
  padding: 10px;
  top:0;
  background: #000;
}

.main-content{
  width: calc(100% - 240px);
  right:0;
  height: 100%;
}

.logo{
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}

.footer{
    padding: 25px 0 0;
}

.toggle-menu .icon-bar{
  display: block;
  width: 20px;
  height: 2px;
  background: #009800;
  margin-bottom:5px;
}

.toggle-menu{
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: rotate(-90deg) translateX(50%);
  -moz-transform: rotate(-90deg) translateX(50%);
  -ms-transform: rotate(-90deg) translateX(50%);
  -o-transform: rotate(-90deg) translateX(50%);
  transform: rotate(-90deg) translateX(50%);
}

.toggle-menu.st-menu{
  -webkit-transform: rotate(0deg) translateY(-50%);
  -moz-transform: rotate(0deg) translateY(-50%);
  -ms-transform: rotate(0deg) translateY(-50%);
  -o-transform: rotate(0deg) translateY(-50%);
  transform: rotate(0deg) translateY(-50%);
}

.fuller{
  width: 100% !important;
}

.avatar{
  width: 20px;
  height: 20px;
}

.avatar-name{
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  text-transform: capitalize;
}

.extended-notification{
  padding: 0;
  min-width: 300px;
}

.extended-notification.dropdown-menu > li > a.see-more {
    font-weight: bold;
}

.navbar-nav.navbar-right > li{
    border-left: 1px solid #fff;
}

.notify-bar{
    background: #00a504;
    padding: 10px;
    color: #fff;
}

.extended-notification > li > a{
    padding: 5px 10px;
}

#dropdown-user{
    position: absolute;
    right: 5px;
    top: 100%;
    background: #eee;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    z-index: 1;
    padding: 0;
}

.nav-right li a{
    color: #000;
}

#dropdown-user::before{
    content: '';
    width: 0;
    height: 0;
    top: -25px;
    border: 10px solid transparent;
    border-bottom: 15px solid #eee;
    right: 0;
    position: absolute;
}

#dropdown-user li a {
    padding: 8px 0;
    display: block;
    text-transform: uppercase;
    border-top: 1px solid #444;
    font-size: 10px;
}

#dropdown-user li a:hover {
    color: #00a504;
}

#dropdown-user li:first-child a{
    border: none;
}


body.user-login
{
    background: #2E363F;
    font-family: 'Raleway', sans-serif;
}

/****User Login***/

.form-group
{
    padding-bottom: 15px;
    display: table;
    table-layout: fixed;
    margin: 0 auto;
    width: 100%;
}

label.fa
{
    display: table-cell;
    background: #3f4954;
    color: #fff;
    padding: 5px;
    width:10%;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
}

.user-img{
    display: inline-block;
}

input
{
    display: table-cell;
    background-color: #fff;
    border: none;
    font-family: Raleway;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #666;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    min-height: 30px;
}

    input[type="submit"]
    {
        padding: 15px;
        background: #fff;
        width: 20%;
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
        border-radius: 5px;
        cursor: pointer;
        color: #2E363F;
        font-weight: bold;
        background: #3f4954;
        border-color: transparent;
        color: #fff;
        -moz-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        -webkit-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out;
    }

        input[type="submit"]:hover
        {
            background: #2E363F;
            border-color: #3f4954;
            text-decoration: underline;
        }

.group
{
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    border-top: 1px solid #3f4954;
}

h1
{
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    font-family: serif;
    margin: 15px 0 10px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #3f4954;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}

.submit-group
{
    text-align: center;
    padding-bottom: 0;
}

input.inputButton
{
    width: 60%;
    background: #2E363F;
    color: white;
    border-radius: 20px;
    height: 40px;
}

.registerButton
{
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    background: #2E363F;
    color: #fff;
    padding: 0 0 5px 5px;
    border-radius: 5px;
    font-size: 15px;
    display: inline-block;
    position: relative;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

    .registerButton::after
    {
        content: "";
        height: 1px;
        position: absolute;
        left:0;
        width: 0;
        top: 100%;
        background: #87CB16;
    }

.registerButton:hover::after
{
    width: 100%;
}

.registerButton:hover{
    text-decoration: none;
}

.loginForm, .registerForm
{
    padding: 10px 10px 0 10px;
    float: none;
    border: 2px solid #2E363F;
    border-radius: 10px;
}

.formInput
{
    width: 45%;
    line-height: 40px;
    height: 30px;
    padding: 2px;
}

table td
{
    line-height: 40px;
}

.formLabel
{
    width: 30%;
    line-height: 50px;
    color: #2E363F;
}

    .formLabel a
    {
        text-decoration: none;
        color: #2E363F;
    }

label.formLabel
{
    font-size: large;
}

.login-wrapper{
    min-height: auto;
    height: auto;
     width: 30%;
     margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    background: transparent;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

textarea{
    min-height: 80px;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border-color: #00a504;
    border-bottom-color: transparent;
}

.nav-tabs {
    border-bottom-color: #00a504;
}

.tab-content {
    border: 1px solid #00a504;
    border-top: none;
    margin: 0 0 15px 15px;
    padding: 10px;
}

.panel-heading.tab-bg-info{
    max-width: 100%;
    padding: 10px 0 0 15px;
    border-bottom: none;
}

.nav-tabs>li>a:focus, 
.nav-tabs>li>a:hover {
    color: #fff;
    background-color: #00a504;
}

table thead{
   background: #00a504;
   color: #fff;
   font-weight: bold;
}


@media only screen and (min-width:768px){

    .wrapper.register-form-wrapper
    {
    width:90%;
    overflow:hidden;
    text-align: center;
    }

    .register-form-wrapper .form-group
    {
        width:45%;
        margin: 0 2.5%;
        float: left;
    }

    .wrapper.register-form-wrapper .submit-group
    {
        display:inline-block;
        float: none;
        margin: 15px 0;
        width: 100%;
    }
}

@media only screen and (min-width:1024px){
    .wrapper.register-form-wrapper{
        width: 75%;
    }
}

@media only screen and (max-width: 1200px){
    .login-wrapper{
        width: 50%;
    }

    .login-wrapper input[type="submit"]{
        width: 30%;
    }
}

@media only screen and (max-width:767px)
{
    .login-wrapper.wrapper
    {
        width: 80%;
    }

    .navbar-right{
        display: -webkit-flex;
        display: flex;
    }


    .main-content{
        width: 100%;
    }

    .sidebar-wrapper{
        z-index: 1;
    }

    label.fa{
        width: 15%;
    }

    .navbar-nav .open .dropdown-menu.extended-notification{
        position: absolute;
        right: 0;
        left: auto;
        background: #fff;
    }
}

@media only screen and (min-width: 768px){
    .tables{
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    .table-cells{
        display: table-cell;
        float: none;
        vertical-align: top;
    }
}

@media only screen and (max-width: 480px)
{
    .login-wrapper.wrapper
    {
        width: 90%;
    }
}

.wrapper form
{
    border: none;
}

.formInput:hover
{
    border: 2px solid #2E363F;
    border-radius: 5px;
}

ul li
{
    list-style: none;
}

    ul li a
    {
        text-decoration: none;
    }

.main-content{
    background: #f9f9fd;
}

.main-content .navbar-fixed{
    background-color: #cecece;
}

header .header-inner nav ul li a
{
    float: left;
    font-size: 150%;
    color: #fff;
    padding: 0px 10px;
    line-height: 150%;
    background: #2E363F;
}

header .header-inner nav
{
    margin-bottom: 0px;
}

body header
{
    max-width: 1000px;
}

.image
{
    float: left;
}

.search
{
    clear: left;
}

.searchButton
{
    width: 20%;
    background: #2E363F;
    color: white;
    border-radius: 5px;
    height: 40px;
    padding: 5px;
}

.searchInput
{
    width: 30%;
    line-height: 40px;
    height: 30px;
    border: hidden;
    padding: 2px;
    border: #2E363F 1px solid;
}

